{% extends "layouts/base.html" %}

{% block content %}
  <div class="page-header">
    <h1>About</h1>
    <p class="lead">Hi my name is Demitrus Turner and I developed this webpage. I am a student at New York On Tech 
    I have been attending this program weekly since I've been admitted.  
    I am currently a senior at Northside Charter High School and am soon to graduate in June.
    New York On Tech has helped me develop many skills in preparation for my college
    experience.  Skills that include coding in various languages such as, Javascript,
    html,CSS etc.  It has been a Wonderful experience learning and getting to know everyone
    and it has been very beneficial to my progress in improving my skills and securing my future.
    
      
    </p>
  </div>
  
{% endblock %}
